<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BOTS</title>
</head>
<body>
<!--Title section-->
            <div class="row dark-orange-on-blue">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h3 id="small-title">BOTS</h3>
                    </div>
                <div class="col-lg-8 col-md-8 col-sm-0 col-xs-0">
                    {% block form-subtitle %}
                    {% endblock %}
                </div>
            </div>
<!--END Title section-->
<!--Content section-->
<hr/>
            {% block form %}

            {% endblock %}
<hr/>
<!--END Content section-->
<!--Nav section-->
            <div class="row black-on-white">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="button btn btn-primary btn-sm">BOTS Help & FAQ</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="button btn btn-primary btn-sm">Add Sequence</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="button btn btn-primary btn-sm">Login</div>
                </div>
            </div>
<!--END Nav section-->
<!--footer section-->
            <footer style="color:black;">
                                    BOTS uses a modified version of LyellBio's Brian Weitzner codon-harmony python package. <br />
                    <br />
                    GC Richness, Repeats, Hairpins, Restriction, Splice sites, and more<br />
                    Enjoy!
                <hr />
                Created by JD Rousseau as a part of the 2019 iGEM competition.
            </footer>
<!--END footer section-->
</body>
</html>